#BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false

PointerAlignment: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
NamespaceIndentation: All
AllowShortLambdasOnASingleLine: Empty