TopWidget {
  qproperty-maximumSize: 900px 150px;
  qproperty-minimumSize: 900px 150px;
  background-color: rgb(57,196,44);

   #returnBtn {
    qproperty-position: 0px 0px;
    qproperty-size: 115px 38px;
    qproperty-pixmapUrl: ":/image/return.png";
  }
}