@use "common";
#MainWindow {




  #contentTopBg {
    background-color: common.$backgroundColor;
  }



  #contentBottom {
    border-top: common.$gap;
    background-color: lighten(common.$backgroundColor, 5%);
  }

  /* Title Menu */
  #titleRightInfo {
    padding-left: 10px;
  }

  #rightButtons {
    padding-right: 10px;

    @mixin buttonBasic {
      min-width: 28px;
      max-width: 28px;
      min-height: 28px;
      max-height: 28px;
      background-color: transparent;
      border-radius: 3px;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color:common.$secondaryBackgroundColor;
      }
    }
    #closeAppBtn {
      @include buttonBasic;
      background-image:url(:/icons/images/icons/icon_close.png);
    }
    #maximizeRestoreAppBtn {
      @include buttonBasic;
      background-image:url(:/icons/images/icons/icon_maximize.png);
    }
    #minimizeAppBtn {
      @include buttonBasic;
      background-image:url(:/icons/images/icons/icon_minimize.png);
    }
    #settingsTopBtn {
      @include buttonBasic;
      background-image:url(:/icons/images/icons/icon_settings.png);
    }
  }
}